{% extends "(core)/layout.html" %}

{% block title %}Add Location{% endblock title %}

{% block content %}
<div class="w-full h-full flex justify-center items-center">
    <div class="w-[70%] dark:bg-gray-800 bg-slate-200 p-8 rounded shadow-xl">
        <h2 class="text-2xl font-semibold dark:text-white mb-6">Add Location</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="text-red-600">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="{% url 'add_location' %}" class="space-y-4">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="location" class="text-sm font-medium dark:text-white">Location Name</label>
                <input type="text" id="location" name="location" class="border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white px-3 py-2 rounded mt-1 focus:outline-none" required>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Add Location</button>
        </form>

        <!-- Table to display locations -->
        <div class="mt-8">
            <h2 class="text-xl font-semibold dark:text-white mb-4">All Locations</h2>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th scope="col" class="px-5 py-3 bg-gray-200 dark:bg-gray-700 text-xs font-medium text-gray-700 dark:text-white uppercase tracking-wider text-left">ID</th>
                                <th scope="col" class="px-5 py-3 bg-gray-200 dark:bg-gray-700 text-xs font-medium text-gray-700 dark:text-white uppercase tracking-wider text-left">Location Name</th>
                                <th scope="col" class="px-5 py-3 bg-gray-200 dark:bg-gray-700 text-xs font-medium text-gray-700 dark:text-white uppercase tracking-wider text-left">Remove Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in locations %}
                            <tr>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 text-sm dark:text-white">
                                    {{ location.id }}
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 text-sm dark:text-white">
                                    {{ location.location }}
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 text-sm dark:text-white">
                                    <a href="{% url "remove_location" location.id %}">
                                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Remove</button>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 text-sm text-center dark:text-white">No locations found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
