{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/navbar.js" %}" defer></script>
    <script src="https://kit.fontawesome.com/0ccd97a603.js" crossorigin="anonymous"></script>
</head>
    <body class="dark:bg-gray-900">
        <header>
            {% include "components/navbar.html" %}
        </header>
        <main class="container grid grid-cols-12">
            <aside class="sm:col-span-4 md:col-span-3 lg:col-span-2 col-span-2 h-[calc(100vh-60px)]">
                {% include "components/sidebar.html" %}
            </aside>
            <div class="sm:col-span-8 md:col-span-9 lg:col-span-10 col-span-10"> 
                {% block content %}{% endblock content %}
            </div>
        </main>
        <script>
            function removePart(element) {
                // Find the closest parent div with the class 'flex' and remove it
                var parentDiv = element.closest('div.flex');
                if (parentDiv) {
                    parentDiv.remove();
                }
            }
        </script>
    </body>
</html>