{% extends "(core)/layout.html" %}

{% block title %}Tickets List{% endblock title %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="mb-4">
        <h1 class="text-xl font-semibold text-gray-700 dark:text-gray-200">Tickets List</h1>
    </div>
        <!-- Filter and Search Form -->
    <form method="GET" class="mb-4 w-full flex gap-4">
        <div class="flex-1">
            <label for="search" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Search:</label>
            <input type="text" name="search" id="search" placeholder="Search tickets..." class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="flex-1">
            <label for="status" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Filter by Status:</label>
            <select name="status" id="status" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">All</option>
                <option value="Pending" {% if request.GET.status == "Pending" %}selected{% endif %}>Pending</option>
                <option value="In Progress" {% if request.GET.status == "In Progress" %}selected{% endif %}>In Progress</option>
                <option value="Completed" {% if request.GET.status == "Completed" %}selected{% endif %}>Completed</option>
            </select>
        </div>
        <div class="flex-1">
            <label for="department" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Filter by Department:</label>
            <select name="department" id="department" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">All</option>
                {% for department in locations %}
                    <option value="{{department.location}}" {% if request.GET.department == department.location %}selected{% endif %}>{{department.location}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex items-end">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Apply</button>
            <a href="{% url 'dashboard' %}" class="ml-2 text-gray-500 dark:text-gray-300 hover:underline">Clear Filters</a>
        </div>
    </form>

    <div class="overflow-x-auto">
        <div class="bg-white shadow-md rounded-lg overflow-hidden dark:bg-gray-700">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Ticket No
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Machine
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Parts
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Down Time
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Up Time
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Issue
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Department
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Status
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Date Created
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-600">
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.ticket_no }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.machine }}
                        </td>
                        <td class="px-5 py-3 max-w-24 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {% for part in ticket.parts.all %}
                                {{ part.part_name }}
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No parts
                            {% endfor %}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.down_time }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.up_time|default:"N/A" }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.issue_list }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.department }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 {% if ticket.status == 'Pending' %}text-red-500{% elif ticket.status == 'Completed' %}text-green-500{% elif ticket.status == 'In Progress' %}text-blue-500{% endif %}">
                            {{ ticket.get_status_display }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                            {{ ticket.date_created|date:"Y-m-d H:i" }}
                        </td>
                        <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm dark:border-gray-700 dark:bg-gray-600">
                            <a href="{% url 'resolve_ticket' ticket.id %}" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Resolve</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
