{% extends "(core)/layout.html" %}

{% block title %}Tickets{% endblock title %}

{% block content %}
    <div class="w-full sm:w-fit flex justify-center items-center gap-8 mt-4 sm:ml-4">
        <a href="{% url "tickets_list" %}">
            <button
                class="h-20 w-32 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >View Tickets List</button>
        </a>

        <a href="{% url "resolve_tickets" %}">
            <button
                class="h-20 w-32 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >Resolve Tickets</button>
        </a>

        <a href="{% url "add_issue" %}">
            <button
                class="h-20 w-32 bg-green-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >Add Issue</button>
        </a>
    </div>
{% endblock content %}