{% extends "(core)/layout.html" %}

{% block title %}Parts{% endblock title %}

{% block content %}
    <div class="w-full sm:w-fit flex justify-center items-center gap-8 mt-4 sm:ml-4 flex-wrap">
        <a href="{% url "add_part" %}">
            <button
                class="h-20 w-32 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >Add Parts</button>
        </a>

        <a href="{% url "parts_list" %}">
            <button
                class="h-20 w-32 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >View Parts</button>
        </a>

        <a href="{% url "purchase_part" %}">
            <button
                class="h-20 w-32 bg-green-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >Purchase Part</button>
        </a>

        <a href="{% url "purchase_history" %}">
            <button
                class="h-20 w-32 bg-yellow-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-2xl shadow-md"
            >Purchase History</button>
        </a>
    </div>
{% endblock content %}