{% extends "(core)/layout.html" %}

{% block title %}Parts List{% endblock title %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <form method="get" class="mb-5 w-full flex justify-center gap-2">
        <input type="text" name="search" placeholder="Search parts..." class="w-[70%] px-4 py-2 border rounded-lg text-gray-700" value="{{ request.GET.search|default:'' }}">
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Search</button>
        <a href="{% url 'add_part' %}" class="px-4 py-2 bg-green-500 text-white rounded-lg">Add Part</a>
    </form>
    <div class="mb-4">
        <h1 class="text-xl font-semibold text-gray-700 dark:text-gray-200">Parts List</h1>
    </div>
    <div class="overflow-x-auto">
        <div class="bg-white shadow-md rounded-lg overflow-hidden dark:bg-gray-700">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Name
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Description
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Part Number
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Quantity
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Price
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Edit Part
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <div class="flex items-center">
                                <div class="ml-3">
                                    <p class="text-gray-900 dark:text-white whitespace-no-wrap">
                                        {{ part.name }}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <p class="text-gray-700 dark:text-white whitespace-no-wrap">{{ part.description }}</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <p class="text-gray-900 dark:text-white whitespace-no-wrap">{{ part.part_number }}</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <p class="text-gray-900 dark:text-white whitespace-no-wrap">{{ part.quantity|floatformat:"0" }}</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <p class="text-gray-900 dark:text-white whitespace-no-wrap">₹ {{ part.price|floatformat:"0" }}</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <a href="{% url 'edit_part' part.id %}" class="text-blue-500 hover:text-blue-700">
                                <i class="fa-solid fa-rotate-right"></i>
                            </a>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 dark:border-gray-700 bg-white text-sm dark:bg-gray-600">
                            <a href="{% url 'delete_part' part.id %}" class="text-red-500 hover:text-red-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}