{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="login-container | flex justify-center items-center w-full h-[calc(100vh-72px)]">
        <div class="shadow-2xl min-h-80 rounded-2xl min-w-64 flex flex-col bg-white dark:bg-gray-800">
            <h1 class="text-center text-4xl font-bold p-2 pt-4 dark:text-white">Login</h1>
            <form class="login-form | flex flex-col justify-center items-center gap-4 my-auto" method="POST">
                {% csrf_token %}
                <div class="username flex justify-center">
                    <input
                    type="text"
                    placeholder="Username"
                    name="username"
                    id="username"
                    class="input-fields bg-gray-100 dark:bg-gray-700 dark:text-white"
                    required
                    />
                </div>
                <div class="password flex justify-center">
                    <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="password"
                    class="input-fields bg-gray-100 dark:bg-gray-700 dark:text-white"
                    required
                    />
                </div>
                <button class="btn bg-blue-500 text-white dark:bg-blue-700" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}
